body::-webkit-scrollbar {
	display: none;
}

ul {
	margin: 5px !important;
	padding: 0 !important;
}

li {
	margin: 10px;
}

body {
	background-color: black !important;
}

a {
	color: white !important;
}
.work-cards {
	background-color: black !important; 
	border-radius: 0px !important;
	color: white;
}
.color-mode-dep-text {
	color: white !important;
}
.color-mode-dep-border {
	border-color: white !important;
}
.skill-badge {
	border-color: white !important;
}

.contact-info {
	font-size: xx-small;
}

.self-bio {
	font-size: small;
	font-family: serif;
}

.apoorva-name {
	font-family: "Bodoni Moda", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.skills-title {
	font-family: "Suranna", serif;
	font-weight: 400;
	font-style: normal;
}

.skill-badge {
	border: 0.5px solid;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-weight: lighter !important;
}

.profile-link {
	transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
	-webkit-transition: transform 0.5s ease;
	display: inline-block;

	&:hover {
		transform: translateY(3px);
	}
}

.icon-left-arrow {
	transform: translateX(.25rem) !important;
	transition: .4s ease-out;
	-moz-transition: .4s ease-out;
	-o-transition: .4s ease-out;
	-webkit-transition: .4s ease-out;
}

.icon-left-arrow:hover {
	transform: translateX(-.25rem) !important;
}

.icon-right-arrow {
	transform: translateX(-.25rem) !important;
	transition: .4s ease-out;
	-moz-transition: .4s ease-out;
	-o-transition: .4s ease-out;
	-webkit-transition: .4s ease-out;
}

.icon-right-arrow:hover {
	transform: translateX(.25rem) !important;
}

.self-image {
	max-width: 350px !important;
}

.work-section-title {
	font-family: "Bodoni Moda", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.work-description {
	font-size: small !important;
	font-family: "Outfit", sans-serif;
	font-style: normal;
}

.work-row {
	width: 100% !important;
	overflow-x: scroll !important;
	overflow-y: hidden !important;
}

.work-row::-webkit-scrollbar {
	display: none;
}

.card-title {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: lighter;
	font-style: normal;
}

.work-time {
	font-weight: 300;
}

.work-skills-title, .course-work-title {
	margin-top: 20px;
}

.bottom-nav {
	width: 50px !important;
	height: 50px !important;  
	background: linear-gradient(to left, black 50%, white 50%) right;
	background-size: 250%;
	transition: .4s ease-out;
	-moz-transition: .4s ease-out;
	-o-transition: .4s ease-out;
	-webkit-transition: .4s ease-out;
	z-index: 3;

	&:hover {
		background-position: left;
		color: black !important;
		cursor: pointer;
	}
}

.color-mode-nav-button, .scroll-up-nav-button {
	color: white !important;
	width: 50px !important;
	height: 50px !important;  
}

.bottom-nav-container {
	height: 50px !important;
	align-items: end !important;

	&:hover {
		height: 170px !important;

		& > .color-mode-nav-button {
			transform: translateY(-60px) !important;
			background-color: black !important;
		}
		& > .scroll-up-nav-button {
			transform: translateY(-120px) !important;
			background-color: black !important;
		}
	}
}

.light-mode-button, .dark-mode-button {
	&:hover {
		background-color: white;
		color: black;
	}
}

.color-mode-nav-button, .scroll-up-nav-button {
	transition: transform 0.5s ease;
}

@media screen and (max-width: 767px) {
	.img-container {
		width: 200px !important;
	}
	.self-bio {
		width: 400px !important;
	}
}

@media screen and (min-width: 992px) {
	.self-bio {
		font-size: medium;
	}
	.contact-info {
		font-size: small;
	}
}

@media (prefers-color-scheme: light) {

	body {
		background-color: #ffffff !important;
		
	}

	a {
		color: rgb(0, 0, 0) !important;
	}
	.work-cards {
		background-color: white !important; 
		border-radius: 0px !important;
		color: black !important;
	}
	.color-mode-dep-text {
		color: black !important;
	}
	.color-mode-dep-border {
		border-color: black !important;
	}
	.skill-badge {
		border-color: black !important;
		color: black !important;
	}
}