body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000000 !important;
}

a {
  color: rgb(255, 255, 255) !important;
}

ul {
  margin: 5px !important;
  padding: 0 !important;
}

li {
  margin: 10px;
}

mark {
  background-color: white !important;
  color: black !important;
}

.contact-info {
  font-size: xx-small;
}

.self-bio {
  font-size: small;
  font-family: serif;
}

.apoorva-name {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.skills-title {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
}

.skill-badge {
  border: 0.5px solid white;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: lighter !important;
}

.profile-link {
  transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  display: inline-block;
}

.name-segment {
  background: linear-gradient(to left, black 50%, white 50%) right;
  background-size: 200%;
  transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  -webkit-transition: .4s ease-out;
}

.name-segment:hover {
  background-position: left;
  color: black;
}

.swap-work-button {
  background: linear-gradient(to left, white 50%, black 50%) right;
  color: black;
  background-size: 200%;
  transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  -webkit-transition: .4s ease-out;
}

.swap-work-button:hover {
  background-position: left;
  color: white !important;
}

.profile-link:hover {
  transform: translateY(3px);
}

.self-image {
  max-width: 350px !important;
}

.work-section-title {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.work-description {
  font-size: small !important;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.work-row {
  width: 100% !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  height: 500px;
}

.work-row::-webkit-scrollbar {
  display: none;
}

.education-row::-webkit-scrollbar {
  display: none;
}

.work-cards {
  background-color: black !important; 
  border-radius: 0px !important;
  color: white !important;
  height: 400px !important;
}

.card-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

.work-time {
  font-weight: 300;
}

.work-skills-title {
  margin-top: 20px;
}

.course-work-title {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .img-container {
    width: 200px !important;
  }
  .self-bio {
    width: 400px !important;
  }
}

@media screen and (min-width: 992px) {
  .self-bio {
    font-size: medium;
  }
  .contact-info {
    font-size: small;
  }
}

/* WORK ROW MEDIA QUERIES */
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .work-row {
    height: 650px;
  }
}

@media screen and (min-width: 450px) and (max-width: 576px) {
  .work-row {
    height: 500px;
  }
}

@media screen and (min-width: 350px) and (max-width: 449px) {
  .work-row {
    height: 600px;
  }
}