/* Split the screen in half

/*
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  /* .left {
    left: 0;
    background-color: #111;
  } */
   */
  /* Control the right side */
  /* .right {
    right: 0;
    background-color: gray;
  } */
  
  /* If you want the content centered horizontally and vertically */
  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
   */
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 150px;
    border-radius: 50%;
  } */

/* .scrollspy-example{
    transform: translate(-20%, 100%);
    color:white;

} */
.breadcrumb{
    transform: translate(100%,100%);
}

#paragraph-1{
    font-family: 'ZCOOL KuaiLe', cursive;
    transform: translate(-18%,0%);
    text-align:center;
}


#KK_progress-1{
    transform: translate(-30%,5%);
}

#KK_progress-2{
    transform: translate(75%,-99%)
}

#list-item-1{
    font-family: 'Nosifer', cursive;
    color:maroon;
    transform:translate(5%,0%)
}

#KK_progress-3{
    transform:translate(20%,-90%);
}

body{
    background-color:grey;
}

/*Font Family Specifiers for Future Reference*/

/*
font-family: 'Barrio', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Eater', cursive;
font-family: 'Faster One', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Frijole', cursive;
font-family: 'Monofett', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'ZCOOL KuaiLe', cursive;
*/