body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000000 !important;
}

a {
  color: rgb(255, 255, 255) !important;
}

ul {
  margin: 5px !important;
  padding: 0 !important;
}

.contact-info {
  font-size: xx-small;
}

.self-bio {
  font-size: small;
  font-family: serif;
}

.work-skill-badge {
  font-size: xx-small !important;
}

.work-display-link {
  color: white;
}

.work-display-link:hover {
  color: blue !important;
  transition: 0.2s ease-out;
  -moz-transition: 0.2 ease-out;
  -webkit-transition: 0.2 ease-out;
  -o-transition: 0.2 ease-out;
}

.work-time {
  font-size: small;
}

.work-tool-used {
  font-size: small;
  margin-top: -10px;
  margin-bottom: -2px;
}

.work-description-list {
  font-size: x-small;
}

.work-content-section {
  overflow-y: scroll;
  max-height: 300px !important;
}

.work-select-section {
  border-right: 2px solid white;
  overflow-x: scroll;
  font-size: small;
  max-height: 300px !important;
}

.work-links {
  font-size: smaller;
}

.self-image {
  max-width: 350px !important;
}

@media screen and (max-width: 767px) {
  .img-container {
    width: 200px !important;
  }
  .self-bio {
    width: 400px !important;
  }
}

@media screen and (min-width: 992px) {
  .work-description-list {
    font-size: medium;
  }
  .work-tool-used {
    font-size: medium;
  }
  .work-link {
    font-size: medium;
  }
  .work-time {
    font-size: medium;
  }
  .self-bio {
    font-size: medium;
  }
  .contact-info {
    font-size: small;
  }
}