#NA{
    font-size:100px;
    transform: translate(0%,20%);
}



/*
font-family: 'Barrio', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Eater', cursive;
font-family: 'Faster One', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Frijole', cursive;
font-family: 'Monofett', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'ZCOOL KuaiLe', cursive;
*/